@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
*{
    font-family: 'Public Sans', sans-serif;
}
html{
    font-size: 18px;
}
html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
}
header{
    background-color: white;
    box-sizing: border-box;
    padding: 25px 150px;
    position: relative;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerItems{
    all: unset;
    display: flex;
    gap: 0px 30px;   
}
li{
    all: unset;
    font-size: 1rem;
    color: hsl(233, 8%, 62%);
    position: relative;
    cursor: pointer;
}
.headerItems li::after{
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(to left,hsl(192, 70%, 51%),hsl(136, 65%, 51%));
    bottom:-40px;
    width: 100%;
    height:5px;
    margin: 0 auto;
    transform: scale(0);
    transition: transform .35s ease-in-out;
}
.headerItems li:hover::after{
    transform: scale(1);
}
button{
    all: unset;
    font-weight: 700;
    background: linear-gradient(to left,hsl(192, 70%, 51%),hsl(136, 65%, 51%));
    padding: 15px 30px;
    border-radius:25px;
    color: white;
    cursor: pointer;
    transition: opacity .15s ease-in-out;
}
button:hover{
    opacity: .65;
}